doctype html  
html(lang='en')  
    head
        script(src="../node_modules/plotly.js/dist/plotly.min.js")
        script(src="../node_modules/tone/build/Tone.min.js")
        link(rel="stylesheet", href="style.css")
        title your title here
    body

    div(id="title")
    h1 Modulo 1 generador de funciones bascias
    div(id="selector")

        select(id="signal-selector")
            option(value="sine" selected="selected")
                p sine
            option(value="cosine")
                p cosine
            option(value="other")
                p other
        input(type="button", value="dibujar",id="plot-button")
        input(type="number", name="freq(Hz)",id="freq-selector")
    div(id="tester")


    script(src='index_renderer.js', type='text/javascript')



